body{
    background-color: grey;
}

.cartao{
    background-image: url(images/backgorund.png);
    background-repeat: no-repeat;
    height: 348px;
    width: 700px;
    
}
h1{
   padding-left: 50px;
   padding-top: 50px;
}