body{
    background-color: grey;
}

.cartao{
    background-image: url(images/backgorund.png);
    background-repeat: no-repeat;
    height: 348px;
    width: 700px;
    
}
h1{
   font-size: 30px; 
   font-family: 'Raleway', sans-serif;
   padding-left: 30px;
   padding-top: 50px;
}

p{
   font-size: 20px; 
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   padding-left: 30px; 

}
